/* 767px 이하 */
@media screen and (max-width:767px) {
    /*#################### common ####################*/
    #overlay{
        position: fixed; /* Sit on top of the page content */   
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5); /* Black background with opacity */
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
    }

    .side-bar{
        position: fixed; /* Sit on top of the page content */   
        display: inline-block;
        width: 200px;
        height: 100%;
        top: 0;
        left: -200px;
        z-index: 3;
        background-color: #fff;
        transition: all .3s linear;
    }

    .side-bar > .menu-list{
        margin-top: 100px;
        padding-left: 20px;
        padding-right: 20px;
        cursor: pointer;
    }

    .side-bar > .menu-list > .menu{
        line-height: 1.2em;
        padding-bottom: 10px;
        border-bottom: 1px solid #eee;
    }

    .side-bar > .menu-list > .menu:nth-child(2),.menu:nth-child(3){
        padding-top: 10px;
    }

    /*######################### header #########################*/
    header{
        z-index: 4;
    }
    .logo{
        display: none;
    }

    .list{
        display: none;
    }

    .header{
        padding-top: 30px;
        padding-left: 20px;
    }

    .header > .hambugerbar{
        float: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 24px;
        width: 100%;
        position: relative;
    }

    .header > .hambugerbar > .line{
        display: inline-block;
        width: 30px;
        height: 3px;
        background-color: #000;
        border-radius: 1px;
        transition: all .3s ease-in-out;
        cursor: pointer;
    }

    .header > .hambugerbar.active > .line:nth-child(1){
        transform: translateY(10px) rotate(45deg);
    }

    .header > .hambugerbar.active > .line:nth-child(2){
        opacity: 0;
    }

    .header > .hambugerbar.active > .line:nth-child(3){
        transform: translateY(-10px) rotate(-45deg);
    }
}