/* 767px 이하 */
@media screen and (max-width:767px) {
    .logo{
        display: none;
    }

    .list{
        display: none;
    }

    .header{
        padding-top: 30px;
        padding-left: 20px;
    }

   

    .header > .hambugercheckbox + label{
        display: inline-block;
        height: 20px;
        width: 30px;
    }

    .header > .hambugercheckbox + label > .hambugerbar{
        float: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 20px;
        width: 100%;
        position: relative;
    }

    .header > .hambugercheckbox + label > .hambugerbar > .line{
        display: inline-block;
        width: 30px;
        height: 3px;
        background-color: #000;
        border-radius: 1px;
        transition: all 0.4s ease-in-out;
    }

    .header > .hambugercheckbox:checked + label > .hambugerbar > .line:nth-child(1){
        transform: rotate(45deg);
        position: absolute;
        top: 10px;
    }

    .header > .hambugercheckbox:checked + label > .hambugerbar > .line:nth-child(2){
        transform: rotate(45deg);
        display: none;
    }

    .header > .hambugercheckbox:checked + label > .hambugerbar > .line:nth-child(3){
        transform: rotate(-45deg);
        position: absolute;
        top: 10px;
    }
}