/*######################### header #########################*/
header{
    position: fixed;
    width: 100%;
}

.header{
    width: 1280px;
    margin: 0 auto;
    padding-top: 10px;
    position: relative;
    overflow: hidden;
}

.header > .logo{
    float: left;
}

.header > .list{
    float: right;
}

.header > .list > ul > li{
    float: left;
    line-height: 2.5em;
    padding: 0 10px;
}

/*######################### welcome #########################*/
section.welcome{
    top: 30%;
}

section.welcome > .welcome-inner{
    width: 1280px;
    margin: 0 auto;
}